<!DOCTYPE html>
<html>
<head>
<title> LOGIN </title>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}
</style>
</head>
<body bgcolor="pink">
<h1 align="center"><b>Login Form</b></h1>
<form action="/login" method="POST">
<table align="center">
<tr>
<td><label>Username:</label></td>
<td><input type="text" placeholder="Username" name="txtname"></td>
</tr>
<tr>
<td><label>Password:</label></td>
<td><input type="password" placeholder="Enter Password" name="txtpwd"></td>
</tr>
<tr>
<td>
<input type="submit" name="btnsubmit" value="submit" ></td>
</tr>
<tr>
<td>New User</td>
<td><a href="/register">Register</a></td>
</tr><br>
</table>
</form>
</body>
</html>