<!DOCTYPE html>
<html>
<head>
<title> REGISTER </title>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}
</style>
</head>
<body bgcolor="pink">
<h1 align="center"><b>Registration</b></h1>
<form action="/users" method="POST">
<table align="center">
<tr>
<td><label>Username:</label></td>
<td><input type="text" placeholder="Username" name="txtname"></td>
</tr>
<tr>
<td><label>Address:</label></td>
<td><input type="text" placeholder="address" name="txtaddress"></td>
</tr>
<tr>
<td><label>Email:</label></td>
<td><input type="text" placeholder="email" name="txtemail"></td>
</tr>
<tr>
<td><label>Password:</label></td>
<td><input type="password" placeholder="Enter Password" name="txtpwd"></td>
</tr>
<tr>
<td>
<input type="submit" name="btnsubmit" value="submit" ></td>
</tr>
<tr>
</table>
</form>
</body>
</html>
